
 /*@media screen and (min-width: 900px) {
                        /* Nous définirons ici le style de notre menu pour les grands écrans (>900px) */
                    }
 /*@media screen and (max-width: 900px) {
                        /* Ici, nous redéfinirons le css pour les plus petits écrans (<900px) */
                     /*header{
                        background-color:white;
                        text-align:center;
                        font-size:24px;
                        width:100%;
                        position:absolute;
                        top:0;
                        left:0;
                        height:40px;
                        padding:10px 0px 10px 0px;
                        }

                        header ul{
                            margin:10px auto;
                            padding:0px;
                            display:block;
                            list-style-type:none;
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0s, opacity 1s linear;
                        }

                        header ul li{
                            background-color:grey;
                            border-bottom:solid 2px #555;
                        }

                        header ul li:hover{
                            background-color:saddlebrown;
                            color:white;
                            cursor:pointer;
                        }

                        header:hover ul{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }*/

/*#titre_principal {
	width: 10em;
	padding-right: 10px;
	padding-top: 10px;
	display: inline-block;
	width: 200px;
	vertical-align: top;

}

#logo {

	margin-left : 15px;
	width : 150%;
	vertical-align: middle;
	float:left;
}

nav {
	right:55px;
	vertical-align: top;
	text-align: right;
	margin-top: -40px;
	margin-right: 10px;
}


Nav ul{
	padding: 0px;
	margin:0px;
	list-style-type: none;
	text-align: right;
}


nav li {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin:0px;
	padding: 0px;
	text-align: center;
	border : 3px;

}

nav li a {
	font-size: 20px;
	color:grey;
	text-decoration: none;
	vertical-align: top;
	text-align: right;


}
nav li a:hover {
	text-decoration: none;
	color:black;
}


body {
	background-image: url(/images/bureau.jpg);
}
*/

h1 {
	color:#FF5A5F;
	text-align: center;
	font-size: 300px;
}

h2 {
	font-weight: 300;
	color:#484848;
	font-size:30px;
	text-align: center;

}

/* Code CSS page Imprimerie du ciel bleu*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
